.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 28px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
  z-index: 1000;
}

.burger span {
  height: 3px;
  width: 100%;
  background-color: #a0aef4;
  margin: 3px 0;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.burger span.open:nth-child(1) {
  transform: rotate(45deg) translateY(12px);
}
.burger span.open:nth-child(2) {
  opacity: 0;
}
.burger span.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-12px);
}

@media (max-width: 769px) {
  .header-content{
    justify-content: space-between;
  }
  .burger {
    display: flex;
  }

  .logo {
    width: 100px;
    height: 20px !important;
  }

  .nav-items {
    position: absolute;
    flex-direction: column;
    align-items: center;
    animation: slideInLeft 300ms ease-in-out;
  }

  .hide_nav{
    /* display: none !important; */
    animation: slideInRight 300ms ease-in-out forwards;
  }

  .nav-items ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}


@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

