.contact-landing a:hover{
    -webkit-box-shadow: 0px 1px 13px 1px #A0AEF4; 
    box-shadow: 0px 1px 13px 5px #A0AEF4;
}

.go-down:hover{
    -webkit-box-shadow: 0px 1px 13px 1px #A0AEF4; 
    box-shadow: 0px 1px 13px 5px #A0AEF4;
    animation: all 1s;
}


.go-down img:hover{
    content: url('../assets/icons/down_white.png');
}

