@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme{
  --color-bg-color: #211E30;
  --color-primary: #A0AEF4;
  --color-secondary: #FFFFFF;
  --font-RobotoMono: 'Roboto Mono';
  --color-error:#E15544;
}

:root{
  background-color: #211E30;
  color: #A0AEF4;
  scroll-behavior: smooth;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto Mono', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
}


.neon-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.neon-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

.neon-checkbox .checkmark {
    width: 18px;
    height: 18px;
    border: 3px solid #A0AEF4;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    margin-right: 5px;
}

.neon-checkbox .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -4px;
    width: 7px;
    height: 15px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.3s;
}

.neon-checkbox input:checked + .checkmark::after {
    opacity: 1;
}


.neon-checkbox .ckeckmark .outlined-error{
  border: 3px solid #E15544 !important;
}


  .team-player::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  .team-player::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  .team-player::-webkit-scrollbar-thumb {
    border-radius: 10px;
    display: none;
  }

  .team-player::-webkit-scrollbar-thumb:hover {
    display: none;
  }


